html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    align-items: center;
    font-family: font-family: 'Raleway', sans-serif;
    font-family: 'Space Mono', monospace;
    background-color: #7BAFD4;
    margin: 50px;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
}

h3 {
    margin-top: 100px;
    border:3px solid black;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 30px;
}

.display {
    border: 5px solid black;
    margin: 50px;
    background-color: aliceblue;
    border-radius: 10px;
    padding-top: 10;
}